body{
          background-color: green;
}
.sub{
          background-color: aqua;
          border-color: green;

}
label{
          color: brown;
}
input{
          background-color: rgb(6, 199, 247);
}
button{
          background-color: beige;
}
.a{
          color: chocolate;
}