body{
          background-color: green;
}
.sub{
          background-color: aqua;
          border-color: green;

}
label{
          color: brown;
}
input{
          background-color: coral;
}
.a{
          color: chocolate;
}